USE [master]
GO
/****** Object:  Database [ZoneVisitorDB]    Script Date: 5/27/2015 1:06:09 PM ******/
CREATE DATABASE [ZoneVisitorDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZoneVisitorDB', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ZoneVisitorDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ZoneVisitorDB_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\ZoneVisitorDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZoneVisitorDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZoneVisitorDB]
GO
/****** Object:  Table [dbo].[RelationTBL]    Script Date: 5/27/2015 1:06:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RelationTBL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VisitorId] [int] NOT NULL,
	[ZoneId] [int] NULL,
 CONSTRAINT [PK_RelationTBL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VisitorTBL]    Script Date: 5/27/2015 1:06:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VisitorTBL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[ContactNumber] [varchar](50) NOT NULL,
 CONSTRAINT [PK_VisitorTBL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ZoneTBL]    Script Date: 5/27/2015 1:06:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ZoneTBL](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ZoneType] [varchar](50) NOT NULL,
	[Total] [decimal](18, 0) NULL,
 CONSTRAINT [PK_ZoneTBL] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[RelationTBL]  WITH CHECK ADD  CONSTRAINT [FK_RelationTBL_VisitorTBL] FOREIGN KEY([VisitorId])
REFERENCES [dbo].[VisitorTBL] ([Id])
GO
ALTER TABLE [dbo].[RelationTBL] CHECK CONSTRAINT [FK_RelationTBL_VisitorTBL]
GO
ALTER TABLE [dbo].[RelationTBL]  WITH CHECK ADD  CONSTRAINT [FK_RelationTBL_ZoneTBL] FOREIGN KEY([ZoneId])
REFERENCES [dbo].[ZoneTBL] ([Id])
GO
ALTER TABLE [dbo].[RelationTBL] CHECK CONSTRAINT [FK_RelationTBL_ZoneTBL]
GO
USE [master]
GO
